@font-face { font-family: Satisfy; src: url('Satisfy-Regular.ttf'); } 

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f8f9fa;
  }
  
  .header {
    padding: 10px 10px;
    color: rgba(107, 107, 107, 0.993);
    background-color:white;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    width: 99.50%;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 99.50%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .headernav{
      text-align: center;
  }

  .headernav li{
      display: inline-block;
      list-style: none;
      padding-left: .5rem;
      padding-right: .5rem;
      font-size: .75rem;
      font-weight: 400;
      line-height: 1.6;
  }

  .headernav li:hover{
      color: black;
      cursor: pointer;
  }

  .logo{
    position: absolute;
    margin-top: -45px;
    margin-left: 15px;
  }

  .topleftlogo{
    font-family: Satisfy;
    font-weight: 400;
    font-size: 1.25rem;
    color: black;
  }

  .topleftlogopic{
    float: left;
  }

  .docs{
     float: right;
  }


  .maincontent{
    background-color: white;
    padding: 50px;
    margin-left: 350px;
    margin-right: 350px;
  }

  .mainheading{
    font-family: Satisfy;
    text-align: center;
    font-weight: 500;
    font-size: 3.25rem;
    color: #212529;
  }

  .info{
    text-align: center;
    color: rgba(107, 107, 107, 0.993);
    font-weight: 500;
    font-size: 1.125rem;
  }

  a{
    text-decoration: none;
  }

  .highlight{
    color: rgb(52, 116, 212);
    cursor: pointer;
  }

  .highlight:hover{
    color:  rgb(97, 147, 221);
  }

  .infbtn li{
    display: inline-block;
    list-style: none;
  }

  .infbtn li a{
    display: inline-block;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }

  .btnsecondary{
    color: white;
    border-radius: 5px;
    background-color: #6c757d;
    transition: background-color 0.15s;
    cursor: pointer;
    font-size: .9rem;
  }

  .btnprimary{
    color: white;
    border-radius: 5px;
    background-color: #54a4e6;
    transition: background-color 0.15s;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 1rem;
  }

  .btnprimary:hover{
    background-color: #2870ac;
  }
  
  .btnsecondary:hover{
    background-color: #52595f;
  }


  .infbtn{
    text-align: center;
  }

  @media (min-width: 25px) and (max-width: 1372px) {

    .header{
      width: 100%;
    }

    .content {
      padding: 10px;
    }

    .sticky{
      width: 98.6%;
    }

    .maincontent{
        text-align: center;
        background-color: white;
        margin-right: 20px;
        margin-left: 20px;
    }

    .btnsecondary{
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    
  
    .btnprimary{
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

}

.stuffunten{
  text-align: center;
}

.stuffunten li{
  text-align: center;
  display: inline-block;
  list-style: none;
  padding: 30px;
  width: 330px;
  font-weight: lighter;
  color:#212529;
}

.footerlist {
  text-align: center;
  visibility: visible;
}

.footerlist li{
  text-align: center;
  list-style: none;
  display: inline-block;
  color: #6c757d;
}