@font-face { font-family: Satisfy; src: url('Satisfy-Regular.ttf'); } 

.stuffunten{
  margin-left: -41px;
}

.footerlist{
  margin-left: -41px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#0080ff;
  }
  
  .sheader {
    padding: 10px 10px;
    color: rgba(107, 107, 107, 0.993);
    background-color:white;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    width: 99.50%;
  }
  
  .content {
    padding-top: 100px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 99.50%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .headernav{
      text-align: center;
  }

  .headernav li{
      display: inline-block;
      list-style: none;
      padding-left: .5rem;
      padding-right: .5rem;
      font-size: .75rem;
      font-weight: 400;
      line-height: 1.6;
  }

  .headernav li:hover{
      color: black;
      cursor: pointer;
  }


  .topleftlogo{
    margin-top: 9px;
    margin-left: 10px;
    font-family: Satisfy;
    font-weight: 400;
    font-size: 1.25rem;
    color: black;
    display: block;
    float: left;
    padding: 5px 0px;
    text-decoration: none;
  }

  .topleftlogopic{
    float: left;
    margin-top: 13px;
    margin-left: 20px;
  }

  .docs{
     float: right;
  }


  .maincontent{
    background-color: white;
    padding: 50px;
    margin-left: 350px;
    margin-right: 350px;
  }

  .mainheading{
    font-family: Satisfy;
    text-align: center;
    font-weight: 500;
    font-size: 3.25rem;
    color: #212529;
  }

  .info{
    text-align: center;
    color: rgba(107, 107, 107, 0.993);
    font-weight: 500;
    font-size: 1.125rem;
  }

  a{
    text-decoration: none;
  }

  .highlight{
    color: rgb(52, 116, 212);
    cursor: pointer;
  }

  .highlight:hover{
    color:  rgb(97, 147, 221);
  }

  .infbtn{
    margin-left: -16px;
  }

  .infbtn li{
    display: inline-block;
    list-style: none;
    margin: 0px;
  }

  .infbtn li a{
    display: inline-block;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }

  .btnsecondary{
    color: white;
    border-radius: 5px;
    background-color: #6c757d;
    transition: background-color 0.15s;
    cursor: pointer;
    font-size: .9rem;
  }

  .btnprimary{
    color: white;
    border-radius: 5px;
    background-color: #54a4e6;
    transition: background-color 0.15s;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 1rem;
  }

  .btnprimary:hover{
    background-color: #2870ac;
  }
  
  .btnsecondary:hover{
    background-color: #52595f;
  }


  .infbtn{
    text-align: center;
  }

  @media (min-width: 25px) and (max-width: 1372px) {


    .maincontent{
        text-align: center;
        background-color: white;
        margin-right: 20px;
        margin-left: 20px;
    }

    .btnsecondary{
      text-align: center;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    
  
    .btnprimary{
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

}

.stuffunten{
  text-align: center;
}

.stuffunten li{
  text-align: center;
  display: inline-block;
  list-style: none;
  padding: 00px;
  width: 290px;
  font-weight: lighter;
  color:#212529;
}

.footerlist {
  text-align: center;
  visibility: visible;
}

.footerlist li{
  text-align: center;
  list-style: none;
  display: inline-block;
  color: #6c757d;
}

a {
  color: rgba(107, 107, 107, 0.993);
}


/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  /*background: transparent;*/
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 20px 28px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}   

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}


/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
}
}